rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow admin to read all student documents.
    match /students/{studentId} {
      allow read, list: if request.auth.token.admin == true;
      // Allow student to read their own document.
      allow get: if request.auth.uid == studentId;
      // Allow admin to create, update, delete student documents.
      allow write: if request.auth.token.admin == true;
    }

    // Allow any authenticated user to create a device request.
    match /pendingDevices/{deviceId} {
      allow create: if request.auth != null;
      // Allow only admin to read or delete pending device requests.
      allow read, delete: if request.auth.token.admin == true;
    }
    
    // Allow only admin to manage registered devices.
    match /registeredDevices/{deviceId} {
       allow read, write, delete: if request.auth.token.admin == true;
    }
  }
}
